<div class="game-container">
	<div class="minwidth">
	<div class="row">
		<div class="col col-md-6 col-xs-6">
			<h4 class="genre-header regular-bold">featured {{$ctrl.category}}</h4>
		</div>
		<div class="col col-md-6 col-xs-6">
			<h4 ng-class="$ctrl.activeItem==2 ? 'pull-right item-preview-active' :
			 	'pull-right item-preview-nonactive'"></h4>
			<h4 ng-class="$ctrl.activeItem==1 ? 'pull-right item-preview-active' :
			 	'pull-right item-preview-nonactive'"></h4>
			<h4 ng-class="$ctrl.activeItem==0 ? 'pull-right item-preview-active' :
			 	'pull-right item-preview-nonactive'"></h4>
		</div>
	</div>
	<ul style="left: {{$ctrl.item0Left}}px" 
		class="list-inline game-carousel {{$ctrl.category}}">
		<li class="game-row" ng-repeat="game in $ctrl.featuredActionGames">
			<a href="" ng-click="getGame(game.title)">
				<img style='height: {{$ctrl.gameImageHeight}}px; 
					width: {{$ctrl.gameImageWidth}}px' ng-src="{{game.image_path}}"/>
			</a>
		</li>
	</ul>
	<ul style="left: {{$ctrl.item1Left}}px"
	 	class="list-inline game-carousel {{$ctrl.category}}">
		<li class="game-row" ng-repeat="game in $ctrl.featuredActionGames2">
			<a href="" ng-click="getGame(game.title)">
				<img style='height: {{$ctrl.gameImageHeight}}px; 
					width: {{$ctrl.gameImageWidth}}px' ng-src="{{game.image_path}}"/>
			</a>
		</li>
	</ul>
	<ul style="left: {{$ctrl.item2Left}}px"
	 	class="list-inline game-carousel {{$ctrl.category}}">
		<li class="game-row" ng-repeat="game in $ctrl.featuredActionGames3">
			<a href="" ng-click="getGame(game.title)">
				<img style='height: {{$ctrl.gameImageHeight}}px; 
					width: {{$ctrl.gameImageWidth}}px' ng-src="{{game.image_path}}"/>
			</a>
		</li>
	</ul>
	<button 
		style="margin-left: {{$ctrl.leftBtnLeft}}px; height: {{$ctrl.gameImageHeight}}px;
		width: {{$ctrl.scrollWidth}}px" ng-click='$ctrl.scrollLeft()'
		class="scroll-btn reverse-game-btn btn neat outset-arrow black">
		<span class="glyphicon glyphicon-menu-left"></span>
	</button>
	<button style="height: {{$ctrl.gameImageHeight}}px; width: {{$ctrl.scrollWidth}}px"
		 ng-click="$ctrl.scrollRight()" 
		 class="scroll-btn fwd-game-btn btn neat outset-arrow black">
			<span class="glyphicon glyphicon-menu-right"></span>
	</button>
	</div>
</div>