<div class="row">
	<div class="col col-md-2">
		<a href="/home" ng-click="clearGame()">
			<img id="logo" src="../images/logo-white.png"/>
		</a>
	</div>	
	<div class="col col-md-4">
		<div class="input-group browse">
			<span class="input-group-addon neat" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
			<input type="text" class="form-control neat" ng-model="query" ng-change="getMatches()"  placeholder="Browse" aria-describedby="basic-addon1">
		</div>
		<div class="games-matched">
			<ul class="list-group matches neat">
				<a href="" ng-click="getGame(match)" ng-repeat="match in matches track by $index" class="list-group-item">{{match}} </a>
			</ul>
		</div>
		THIS IS A BETA. PLEASE BROWSE AND SEND ANY COMMENTS TO @OnlineGameCache ON TWITTER. NO SALES ARE BEING PROCESSED. THANKS FOR VISITING!
	</div>
	<div class="col col-md-6">
		<div class="pull-right signinup">
			<div class="pull-right signinup">
				<form>
					<button class="btn navbar-btn neat outset" ng-click="viewCart()" >Shopping Cart <span class="badge">{{user.cart.length}}</span></button>
					<button ng-show="user" class="btn navbar-btn neat outset" ng-click="viewProf()" ><text class="text-glow-hover">{{user.email}}</text></button>
					<button ng-show="user" class="btn navbar-btn neat outset" ng-click="signout()" ><text class="text-glow-hover">Sign Out</text></button>
					<button  class="a" ng-hide="user"
						ng-class="showSignUp? 'btn navbar-btn neat outset no-border' : 'btn  navbar-btn neat inset no-border' "
						ng-click="setSignIn()" > Sign In 
					</button>
					<button class="a" ng-hide="user"
						ng-class="!showSignUp? 'btn navbar-btn neat outset no-border' : 'btn navbar-btn neat inset no-border' "
						ng-click="setSignUp()" > Sign Up 
					</button>
				</form>
				<div  class="animated bounce alert alert-success add-success" ng-if="addConfirm"><strong>Game added</strong></div>
			</div>
		</div>
	</div>
</div>



