<div class="container game-profile-container">
	<h2 class="bold"> Order Summary </h2>
	<div class="low div"  ng-if="credit > 0">
		<h3> Here is what you're selling: </h3>
		<ol class="list">
			<li ng-repeat="item in buys" class="low-div">
				{{item.title}} for ${{item.cost}}
			</li>
		</ol>
		<mark>Total credit: ${{credit}}</mark>
		<div class="input-group col col-md-4">
			Preffered method to recieve credit: <select data-ng-model="checkout.credit_preference" class="form-control" data-ng-options="opt for opt in creditTypes" required></select>
		</div>
		<div ng-if="checkout.credit_preference == 'Venmo'">
			<div class="low-div input-group col col-md-4">
				<span class="input-group-addon">@</span>
				<input type="text" ng-model="checkout.venmo_name" class="form-control neat" placeholder="Venmo username">
			</div>
		</div>
	</div>
	<div class="low div" ng-if="coin > 0">
		<h3> Here is what you're trading: </h3>
		<ol class="list">
			<li ng-repeat="item in trades" class="low-div">
				{{item.title}} for ${{item.cost}}
			</li>
		</ol>
		<mark>Total game cash: ${{coin}}</mark>
	</div>
	<div class="low div" ng-if="total > 0">
		<h3> Here is what you're buying: </h3>
		<ol class="list">
			<li ng-repeat="item in sales" class="low-div">
				{{item.title}} for ${{item.cost}}
			</li>
		</ol>
		<mark>Subtotal: ${{total}}</mark>
	</div>
	<div class="low-div">
		<h3>Personal Information</h3>
		<div class="low-div input-group col col-md-4 neat">
			<span class="input-group-addon glyphicon glyphicon-envelope"></span>
			<input type="text" ng-model="user.email" class="form-control" placeholder="email">
		</div>
		<div ng-if="checkout.credit_preference == 'Mailed Check' && credit > 0 || charge > 0">
			<div class="low-div input-group col col-md-4">
				Address Line 1: <input type="text" ng-model="user.mailing_address.lineOne" class="form-control" placeholder="Mailing Address Line 1">
			</div>
			<div class="low-div input-group col col-md-4">
				Address Line 2: <input type="text" ng-model="user.mailing_address.lineTwo" class="form-control" placeholder="Mailing Address Line 2">
			</div>
			<div class="low-div input-group col col-md-4">
				City: <input type="text" ng-model="user.mailing_address.City" class="form-control" placeholder="City">
			</div>
			<div class="low-div input-group col col-md-4">
				State:<input type="text" ng-model="user.mailing_address.state" class="form-control" placeholder="Street Number">
			</div>
			<div class="low-div input-group col col-md-4">
				Zipcode: <input type="text" ng-model="user.mailing_address.zip" class="form-control" placeholder="5 Digit Zip Code">
			</div>
		</div>
	</div>
	<div class="low-div" ng-if="total > 0">
		<h3>Billing Information</h3>
	</div>
	<div class="low-div policy">
		<h3>Policy</h3>
		<span class="glyphicon glyphicon-piggy-bank"></span> Credit Policy
		Credit is payed out after OnlineGameCash recieves the game(s) and verifies working condition. If the game(s) recieved are not in working condition they will be mailed back to you with no credit.
		You are responsible for mailing the game to OnlineGameCash.
		<span class="glyphicon glyphicon-send"></span> Trade Policy
		Game ca$h is acknowledged and will appear in your onlinegamecash.com account after OnlineGameCash recieves the game(s) and verifies working condition. If the game(s) recieved are not in working condition they will be mailed back to you with no game ca$h.
		You are responsible for mailing the game to OnlineGameCash. Game cash is only redeemable at onlinegamecash.com. 
	</div>
	<input class="low-div" type="checkbox" ng-model="checkout.policy_accepted"> I accept the policy.
	<div class="low-div">
		<div><input class="low-div" type="checkbox" ng-model="checkout.save"> save my info for future use.</div>
		<button class="a btn-lg btn-attention neat add-button" ng-click="submitTransaction(user)"> Submit Order </button>
		<button class="a btn-lg btn-default neat add-button" ng-click="clearGame()"> Back to Browsing </button>
	</div>
</div>