<content-manager ng-if="user.admin" ></content-manager>
<div class="game-container" padding-top="10px">
	<div class="minwidth">
	<h4 class="genre-header regular-bold">Action</h4>
	<ul class="list-inline genre-list">
		<button ng-click="reverseAction()" class="reverse-game-btn btn black neat outset-arrow" ><span class="glyphicon glyphicon-menu-left"></span></button>
		<li ng-repeat="game in action">
			<a href="" ng-click="getGame(game.title)"><img class="game-image" ng-src="{{game.image_path}}"/></a>
		</li>
		<!--<li>
			<button ng-click="getAction()" class="btn neat outset-arrow black" ><span class="glyphicon glyphicon-menu-right"></span></button>
		</li>-->
	</ul>
	</div>
	
	<div class="minwidth">
	<h4 class="genre-header regular-bold">Shooter</h4>
	<ul class="list-inline genre-list">
		<!--<li>
			<button ng-click="reverseShooter()" class="btn black neat outset-arrow" ><span class="glyphicon glyphicon-menu-left"></span></button>
		</li>-->
		<li class="game-row" ng-repeat="game in shooter">
			<a href="" ng-click="getGame(game.title)"><img class="game-image" ng-src="{{game.image_path}}"/></a>		
		</li>
		<!--<li>
			<button ng-click="getShooter()" class="btn neat outset-arrow black" ><span class="glyphicon glyphicon-menu-right"></span></button>
		</li>-->
	</ul></div>
	<div class="minwidth">
		<h4 class="genre-header regular-bold">Family</h4>
		<ul class="list-inline genre-list">
		<!--<li>
			<button ng-click="reverseFamily()" class="btn black neat outset-arrow" ><span class="glyphicon glyphicon-menu-left"></span></button>
		</li>-->
		<li ng-repeat="game in family">
			<a href="" ng-click="getGame(game.title)"><img class="game-image" ng-src="{{game.image_path}}"/></a>		</li>
		<!--<li>
			<button ng-click="getFamily()" class="btn neat outset-arrow black" ><span class="glyphicon glyphicon-menu-right"></span></button>
		</li>-->
	</ul></div>
	
	<div class="minwidth">
	<h4 class="genre-header regular-bold">Racing</h4>
	<ul class="list-inline genre-list">
		<!--<li>
			<button ng-click="reverseRacing()" class="btn black neat outset-arrow" ><span class="glyphicon glyphicon-menu-left"></span></button>
		</li>-->
		<li ng-repeat="game in racing">
			<a href="" ng-click="getGame(game.title)"><img class="game-image" ng-src="{{game.image_path}}"/></a>
		</li>
		<!--<li>
			<button ng-click="getRacing()" class="btn neat outset-arrow black" ><span class="glyphicon glyphicon-menu-right"></span></button>
		</li>-->
	</ul></div>
	
	<div class="minwidth">
	<h4 class="genre-header regular-bold">Fighting</h4>
	<ul class="list-inline genre-list">
	<!--<li>
			<button ng-click="reverseFighting()" class="btn black neat outset-arrow" ><span class="glyphicon glyphicon-menu-left"></span></button>
		</li>-->
		<li ng-repeat="game in fighting">
			<a href="" ng-click="getGame(game.title)"><img class="game-image" ng-src="{{game.image_path}}"/></a>
		</li>
		<!--<li>
			<button ng-click="getFighting()" class="btn neat outset-arrow black" ><span class="glyphicon glyphicon-menu-right"></span></button>
		</li>-->
	</ul></div>
</div>