<!--<div ng-controller="GameController">-->
	<div class="container game-profile-container">
		<button class="btn navbar-btn neat outset" ng-click="$ctrl.toggleEditGame()" ><text class="text-glow-hover">Edit Game</text></button>
		<div ng-if="$ctrl.user.email == 'baymax@bot.com' && $ctrl.editGame">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="bold">Edit Game</div>
				</div>
				<div class="panel-body">
					<form name="edit-game"  ng-submit="$ctrl.updateGame({game: $ctrl.game})">
						<div class="regular-bold low-div">
							Select All Genres That Apply
						</div>
						<div class="regular-bold low-div">
							<select multiple data-ng-model="$ctrl.game.genre" data-ng-options="genre for genre in $ctrl.genres">
						</div>
						<div class="regular-bold low-div">
							<input type="text" ng-model="$ctrl.game.developer" class="form-control neat-input" placeholder="Developer">
						</div>
						<div class="regular-bold low-div">
							<textarea type="text" ng-model="$ctrl.game.summary" class="form-control neat-input" placeholder="Summary"></textarea>
						</div>
						<div class="regular-bold low-div">
							<input type="date" ng-model="$ctrl.game.release_date" class="form-control neat-input" placeholder="yyyy-MM-dd">
						</div>
						<div class="regular-bold low-div">
							<input type="number" ng-model="$ctrl.game.buy_price" class="form-control neat-input" placeholder="Buy Price">
						</div>
						<div class="regular-bold low-div">
							<input type="number" ng-model="$ctrl.game.sell_price" class="form-control neat-input" placeholder="Sell Price">
						</div>
						<div class="low-div pull-right">
							<input type="submit" class="btn btn-attention pull-left neat" value="Update Game" >
						</div>
					</form>
				</div>
			</div>
		</div>
	<div class="media">
		<div class="media-left">
			<img class="game-profile-image" ng-src="{{$ctrl.game.image_path}}"/>
		</div>
		<div class="media-body">
			<h4 class="media-heading bold"> {{$ctrl.game.title}} </h4>
				<ul class="list-unstyled">
					<li>Console: {{$ctrl.game.console}}</li>
					<li>Developer: {{$ctrl.game.developer}}</li>
					<li>Genre: {{g$ctrl.ame.genre}}</li>
					<li>Release Date: {{$ctrl.game.release_date}}</li>
					<li>Summary: {{$ctrl.game.summary}}</li>
				</ul>
		</div>
	</div>
	<span class="glyphicon glyphicon-usd" aria-hidden="true"></span> {{$ctrl.game.sell_price}}
	<button class="a btn-lg btn-attention neat add-button" ng-click="$ctrl.addToCart({game: $ctrl.game})"> Add to Cart </button>
	</div>
<!--</div>

<footer class="footer">
	<div class="container high-div">
		<div class="row lower-div">
			<div class="col-lg-6">
				<div class="row">
					<img id="logo-footer" src="../images/logo-gray.png"/>
					Finally get fair prices and the cash your games are worth.
				</div>
			</div>
			<div class="col-lg-6 pull-right lower-div">
				<div class="row">
					<a href="" > About </a> - <a href=""> Help </a> - <a href=""> Terms & Conditions </a>
				</div>
			</div>
		</div>
	</div>		
</footer> -->
