<div ng-controller="GameController">
	<div class="row">
		<div class="col col-md-2">
			<a href="/">
				<img id="logo" src="../images/logo-white.png"/>
			</a>
		</div>	
		<div class="col col-md-4 ">
			<div class="input-group browse">
				<span class="input-group-addon neat" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
				<input type="text" class="form-control neat" ng-model="query" ng-change="getMatches()"  placeholder="Browse" aria-describedby="basic-addon1">
			</div>
			<div class="games-matched">
				<ul class="list-group matches neat">
					<a href="" ng-click="getGame(match)" ng-repeat="match in matches track by $index" class="list-group-item">{{match}} </a>
				</ul>
			</div>
		</div>
		<div class="col col-md-6">
			<div class="pull-right signinup">
				<div class="pull-right signinup" ng-controller="LoginController">
					<form>
						<button class="btn navbar-btn neat outset" ng-click="" ><text class="text-glow-hover">{{user.email}}</text>
						<button class="btn navbar-btn neat outset" ng-click="signout()" ><text class="text-glow-hover">Sign Out</text>
					</form>
				</div>
			</div>
		</div>
	</div>
	

	<div class="container game-profile-container">
		<button class="btn navbar-btn neat outset" ng-click="toggleEditGame()" ><text class="text-glow-hover">Edit Game</text></button>
		<div ng-if="user.email == 'baymax@bot.com' && editGame">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="bold">Edit Game</div>
				</div>
				<div class="panel-body">
					<form name="edit-game"  ng-submit="updateGame(game)">
						<div class="regular-bold low-div">
							Select All Genres That Apply
						</div>
						<div class="regular-bold low-div">
							<select multiple data-ng-model="game.genre" data-ng-options="genre for genre in genres">
						</div>
						<div class="regular-bold low-div">
							<input type="text" ng-model="game.developer" class="form-control neat-input" placeholder="Developer">
						</div>
						<div class="regular-bold low-div">
							<textarea type="text" ng-model="game.summary" class="form-control neat-input" placeholder="Summary"></textarea>
						</div>
						<div class="regular-bold low-div">
							<input type="date" ng-model="game.release_date" class="form-control neat-input" placeholder="yyyy-MM-dd">
						</div>
						<div class="regular-bold low-div">
							<input type="number" ng-model="game.buy_price" class="form-control neat-input" placeholder="Buy Price">
						</div>
						<div class="regular-bold low-div">
							<input type="number" ng-model="game.sell_price" class="form-control neat-input" placeholder="Sell Price">
						</div>
						<div class="low-div pull-right">
							<input type="submit" class="btn btn-attention pull-left neat" value="Update Game" >
						</div>
					</form>
				</div>
			</div>
		</div>
	<div class="media">
		<div class="media-left">
			<img class="game-profile-image" ng-src="{{game.image_path}}"/>
		</div>
		<div class="media-body">
			<h4 class="media-heading bold"> {{game.title}} </h4>
				<ul class="list-unstyled">
					<li>Console: {{game.console}}</li>
					<li>Developer: {{game.developer}}</li>
					<li>Genre: {{game.genre}}</li>
					<li>Release Date: {{game.release_date}}</li>
					<li>Summary: {{game.summary}}</li>
				</ul>
		</div>
	</div>
	<span class="glyphicon glyphicon-usd" aria-hidden="true"></span> {{game.sell_price}}
	<button class="a btn-lg btn-attention neat add-button" ng-click="addToCart(game)"> Add to Cart </button>
	</div>
</div>

<footer class="footer">
	<div class="container high-div">
		<div class="row lower-div">
			<div class="col-lg-6">
				<div class="row">
					<img id="logo-footer" src="../images/logo-gray.png"/>
					Finally get fair prices and the cash your games are worth.
				</div>
			</div>
			<div class="col-lg-6 pull-right lower-div">
				<div class="row">
					<a href="" > About </a> - <a href=""> Help </a> - <a href=""> Terms & Conditions </a>
				</div>
			</div>
		</div>
	</div>		
</footer>
