<div class="container game-profile-container">
		<button 
			ng-if="$ctrl.user.admin" 
			class="btn navbar-btn neat outset" 
			ng-click="$ctrl.toggleEditGame()">
			<text class="text-glow-hover">Edit Game</text>
		</button>
		<div ng-if="$ctrl.user.admin && $ctrl.editGame">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="bold">Edit Game</div>
				</div>
				<div class="panel-body">
					<form 
						name="edit-game" 
						ng-submit="$ctrl.updateGame($ctrl.view.game)">
						<div class="regular-bold low-div">
							Select All Genres That Apply
						</div>
						<div class="regular-bold low-div">
							<select 
								multiple data-ng-model="$ctrl.view.game.genre"
								 data-ng-options="genre for genre in $ctrl.genres">
						</div>
						<div class="regular-bold low-div">
							<input 
								type="text" 
								ng-model="$ctrl.view.game.developer" 
								class="form-control neat-input" 
								placeholder="Developer">
						</div>
						<div class="regular-bold low-div">
							<textarea 
								type="text" 
								ng-model="$ctrl.view.game.summary" 
								class="form-control neat-input" 
								placeholder="Summary">
							</textarea>
						</div>
						<div class="regular-bold low-div">
							<input 
								type="date" 
								ng-model="$ctrl.view.game.release_date" 
								class="form-control neat-input" 
								placeholder="yyyy-MM-dd">
						</div>
						<div class="regular-bold low-div">
							<input 
								type="number" 
								step="any" 
								ng-model="$ctrl.view.game.buy_price" 
								class="form-control neat-input" 
								placeholder="Buy Price">
						</div>
						<div class="regular-bold low-div">
							<input 
								type="number" 
								step="any" 
								ng-model="$ctrl.view.game.sell_price" 
								class="form-control neat-input" 
								placeholder="Sell Price">
						</div>
						<div class="low-div pull-right">
							<input 
								type="submit" 
								class="btn btn-attention pull-left neat" 
								value="Update Game" >
						</div>
					</form>
				</div>
			</div>
		</div>
	<div class="media">
		<div class="media-left">
			<img class="game-profile-image" ng-src="{{$ctrl.view.game.image_path}}"/>
		</div>
		<div class="media-body">
			<h4 class="media-heading bold"> {{$ctrl.view.game.title}} </h4>
				<ul class="list-unstyled">
					<li>Console: {{$ctrl.view.game.console}}</li>
					<li>Developer: {{$ctrl.view.game.developer}}</li>
					<li>Genre: {{$ctrl.view.game.genre}}</li>
					<li>Release Date: {{$ctrl.view.game.release_date}}</li>
					<li>Summary: {{$ctrl.view.game.summary}}</li>
				</ul>
		</div>
	</div>
	 <div class="radio low-div">
		<label>
			<input type="radio" 
				name="optradio" 
				ng-model="$ctrl.type" value="sale"> 
				Buy this game for 
				<span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 
				{{$ctrl.view.game.sell_price}}
		</label>
	</div>
	<div class="radio">
		<label>
			<input 
				type="radio" 
				name="optradio" 
				ng-model="$ctrl.type" 
				value="ingest">
				Sell this game for 
				<span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 
				{{$ctrl.view.game.buy_price}}
		</label>
	</div>
	<div class="radio">
		<label>
			<input 
				type="radio" 
				name="optradio" 
				ng-model="$ctrl.type" 
				value="trade">Trade in for {{$ctrl.view.game.buy_price + 5}} game cash
		</label>
	</div>
	<button 
		id="addBtn" 
		class="btn-lg btn-attention neat add-button" 
		ng-click="$ctrl.addItemToCart($ctrl.view.game, $ctrl.type)"> 
		Add to Cart 
	</button>
	<button 
		class="btn-lg btn-default neat add-button" 
		ng-click="$ctrl.clearGame()"> 
		Back to Browsing 
	</button>
</div>