<!-- ogc header -->
<div class="row header">
	<div class="col col-md-2 col-xs-12">
		<logo view="view"></logo>
	</div>
	<div class="col col-md-4 col-xs-12">
		<div class="input-group browse">
			<span class="input-group-addon neat" id="basic-addon1">
				<span class="glyphicon glyphicon-search"></span>
			</span>
			<title-browser view="view"></title-browser>
		</div>
	</div>
	<div class="col col-md-6 col-xs-12">
		<div class="pull-right signinup dropdown">
			<shopping-cart-btn user="user" view="view"></shopping-cart-btn>
			<button 
				class="btn navbar-btn neat outset dropdown-toggle" 
				type="button" id="dropdownMenu1" 
				data-toggle="dropdown" 
				aria-haspopup="true" 
				aria-expanded="true">
    			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    			<li><a 
    					href="#" 
    					ng-show="user.email" 
						ng-click="viewProf()">
						my account
					</a>
				</li>
				<li>
					<a 
						href="#" 
						ng-click='viewSignIn()' 
						id='loginBtn' 
						ng-hide='user.email'>
							sign In
					</a>
				</li>
    			<li>
    				<a 
    					href="#" 
    					ng-show='user.email' 
    					ng-click="signout()">
    						sign out
    				</a>
    			</li>
  			</ul>
  			<div 
  				class="animated bounce alert alert-success add-success"
  				ng-if="view.addConfirm">
  				<strong>Game added</strong>
  			</div>
		</div>
	</div>
</div>
<script src="../scripts/bounce.js"></script>
