<div class="all" ng-controller="HomeController as ctrl"> 
	<ogc-welcome></ogc-welcome>
	<ogc-header id='header'></ogc-header> 
	<div id="core">
		<content-manager user="user" view="view" ng-if="user.admin" ></content-manager>
		<div 
			ng-show="view.showFeaturedGames">
			<game-scroller view="view" category="action" user="user"/>
			<game-scroller view="view" category="shooter" user="user"/>
			<game-scroller view="view" category="family" user="user"/>
			<game-scroller view="view" category="fighting" user="user"/>
		</div>
		<user-profile ng-show="view.showProfile"></user-profile>
		<confirmation ng-show="view.showConfirmation"></confirmation>
		<cart-display ng-show="view.showCart"></cart-display>
		<game-detail 
			user="user"
			view="view"
			ng-show="view.showGameDetail"/>
		<checkout ng-show="view.showCheckout"></checkout>
	</div>
</div>
<ogc-footer></ogc-footer>