<div ng-controller="GameController as gameController">
	<div id="intro" ng-controller="LoginController as loginController" class="login-body">
		<authorized-header></authorized-header>
		<div id="welcome"><new-member ></new-member></div>
	</div>
	<user-profile ng-show="gameController.displayProf"></user-profile>
	<confirmation ng-show="gameController.displayConf"></confirmation>
	<cart-display ng-show="gameController.displayCart"></cart-display>
	<game-display ng-show="gameController.displayGame && !displayCart"></game-display>
	<games ng-hide="gameController.displayGame || 
		gameController.displayCart || 
		gameController.displayCheckout || 
		gameController.displayConf || 
		gameController.displayProf" ></games>
	<checkout ng-show="gameController.displayCheckout"></checkout>
</div>
<ogc-footer></ogc-footer>