<!-- User profile view -->
<!--TODO 
save changes 
-->
<div class="container">
	<h2 class="bold"> Account Information </h2>
	<h3><small>Email - Only used to send transaction confirmation and account lookup</small></h3>
	<input ng-model="user.email" class="form-control clean" placeholder="email"/>
	<h3><small>Recent Transactions</small></h3>
	<div>
		<ul class="list-unstyled">
			<li ng-repeat="item in transForUser">
				<div class="row"> 
					<div class="col-lg-2"><div><u class="bold">Date Ordered</u></div> {{ item.date | date : format : short}}</div>
					<div class="col-lg-4"><div><u class="bold">Games in Order</u></div>
						<ul class="list-unstyled">
							<li ng-repeat="game in item.user_cart">
								{{game.title}}
							</li>
						</ul>
					</div>
					<div class="col-lg-2"><div><u class="bold">Status</u></div> {{item.status}}</div>
					<div class="col-lg-2"><div><u class="bold">Credit</u></div> ${{item.credit}}</div>
					<div class="col-lg-2"><div><u class="bold">Game Cash</u></div> ${{item.coin}}</div>
				</div>
			</li>
		</ul>
	</div>
	<h3><small>Game Cash Balance: ${{user.coin_available}} </small></h3>
	<small>Game Cash can be used like cash for onlinegamecash.com purchases.</small>
	
	<h3><small>Mailing Address</small></h3>
	<input ng-model="user.mailing_address.lineOne" class="form-control clean" placeholder="Line One"/>
	<input ng-model="user.mailing_address.lineTwo" class="form-control clean" placeholder="Line Two"/>
	<input ng-model="user.mailing_address.city" class="form-control clean" placeholder="City"/>
	<input ng-model="user.mailing_address.state" class="form-control clean" placeholder="State"/>
	<input ng-model="user.mailing_address.zip" class="form-control clean" placeholder="Zip"/>
	<button class="btn-lg btn-attention neat add-button" ng-click="updateUser()"> Save Changes </button>
	<button class="a btn-lg btn-default neat add-button" ng-click="clearGame()"> Back to Browsing </button>
</div>