<!-- User profile view -->
<div class="container">
	<h2 class="bold"> Your Profile </h2>
	<h3><small>Personal Information</small></h3>
	<input ng-model="user.username" class="form-control clean" placeholder="username"/>
	<input ng-model="user.email" class="form-control clean" placeholder="email"/>
	<h3><small>Pending Transactions</small></h3>
	<div> List any transactions and there status. </div>
	<h3><small>Credit and Game Cash</small></h3>
	<div>Game Cash: ${{user.coin_available}}</div>
	
	<h3><small>Mailing Address</small></h3>
	<input ng-model="user.mailing_address.lineOne" class="form-control clean" placeholder="Line One"/>
	<input ng-model="user.mailing_address.lineTwo" class="form-control clean" placeholder="Line Two"/>
	<input ng-model="user.mailing_address.City" class="form-control clean" placeholder="City"/>
	<input ng-model="user.mailing_address.state" class="form-control clean" placeholder="State"/>
	<input ng-model="user.mailing_address.zip" class="form-control clean" placeholder="Zip"/>
	<button class="a btn-lg btn-attention neat add-button" ng-click=""> Save Changes </button>
	<button class="a btn-lg btn-default neat add-button" ng-click="clearGame()"> Back to Browsing </button>
</div>