html {
	position: relative;
	min-height: 100%;
}

animated.ng-enter {
  animation: bounce 1s;
}

.policy {
	font-size: small;
}

.clean {
	border-radius: 0;
}

.transaction-info {
	border: 2px solid #FF8D00; 
}

.add-panel {
	margin-right: 10px !important;
	margin-left: 10px !important;
}

.footer {
	position: absolute;
	height: 65px;
	bottom: 0px;
	width: 100%;
	color: #777777;
	/* background-color: #F0F0F0; */
	background-color: white; 
	opacity: 0.8;
}

/* pad a div down */
.low-div {
	padding-top: 5px;
}

.lower-div {
	padding-top: 10px;
}

.high-div {
	padding-bottom: 10px;
}
@font-face {
    font-family: 'open sans'; /*a name to be used later*/
    src: url('../fonts/OpenSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'open sans bold'; /*a name to be used later*/
    src: url('../fonts/OpenSans-ExtraBold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'open sans bolder'; /*a name to be used later*/
    src: url('../fonts/OpenSans-Bold.ttf'); /*URL to font*/
}

.login-body {
 background-image: url("../images/me6.jpg");
 background-size: 100%;                      
 background-repeat: no-repeat;
 z-index: 0;
}

.main-body{
	margin-bottom: 75px;
}

body {
 font-family: open sans;
}

.regular-bold {
	font-family: open sans bolder;
}

.black {
	color: black;
}

.error {
 color: red;
 font-size: smaller;
 }
 
 .info {
 color: #FF8D00;
 font-size: smaller;
 }
 
 .success {
 color: blue;
 font-size: smaller;
 }

.btn-attention {
	background: #FF8D00;
	color: white;
}

.btn-attention:hover {
	background: #FF6B00;
	color: white;
}

.bold {
	font-family: open sans bold;
}

.white {
	color: white;
}

#logo {
	top: 0px;
	width: 120px;
	height: 120px;
}

.browse {
	top: 10px;
	padding-left: 15px;
}

.signinup {
	top: 15px;
}


.neat-input{
	border-radius: 0;
}

.row{
    margin-right: 0;
}

.matches {
	background: white !important;
	position: absolute;
	z-index: 999;
}

.games-matched {
	padding-top: 10px;
	padding-left: 15px;
}

#logo-footer {
	width: 45px;
	height: 45px;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.pull-right {
	text-align: right;
}

#signin-jumbo {
    border-radius: 0;
	color: black;
	background: white;
}

button.a {
}

div.a {
	-webkit-animation-duration: 0.6s;
}

.neat {
	border-radius: 0;
	border: 0px;
}

.no-border {
	border: 0px;
}

.outset {
	background: white;
	color: black;
	border: 0px;
}

.outset-arrow {
	background: white;
	color: black;
	border: 0px;
}

.outset-arrow:hover{
	color: black;
	background: #F0F0F0;
}

.inset {
	background: #09BD00;
	color: white;
	border: 0px;
}

.inset:hover{
	color: white;
}

.outset:hover{
	color: black;
	background: #F0F0F0;
}

.outset-arrow:focus{
	border: 0px;
	outline:none;
    box-shadow:none;
}

.outset:focus{
	border: 0px;
	outline:none;
    box-shadow:none;
}
.inset:focus{
	color: white;
	border: 0px;
	outline:none;
    box-shadow:none;
}


.text-glow-hover {
	color: black;
}
.text-glow-hover:hover{
text-shadow: 0 0 20px white;
}

.marketing-img {
	display: block;
	margin: 0 auto
}

.marketing-col{
	min-width: 0px;
	padding-top: 50px;
}

.center-text {
	text-align: center;
}

footer a {
	color: #777777;
}

.gold {
	color: white;
	text-shadow: 0 0 2px black;
}

footer a:hover {
	text-decoration: none;
}

footer a:focus {
	text-decoration: none;
}

.no-decoration:hover {
	text-decoration: none;
}

.no-decoration:focus {
	text-decoration: none;
}

.navbar {
 border: none;
}

.how-it-works {
	text-align: center;
}

.how-it-works div{
	border: 1px solid #F0F0F0;
	padding-bottom: 20px;
}

.game-image {
	width: 175px;
	height: 215px;

}

.game-profile-image {
	width: 275px;
	height: 315px;

}

.game-cart-image {
	width: 100px;
	height: 120px;

}

.add-success {
	width: 120px;
	border-radius: 0;
}


.game-profile-container {
	margin; 0 auto;
	padding-left: 50px;
	padding-top: 30px;
}

.add-button{
	margin-top: 10px;
}

.game-container {
	width: 100%;
	margin; 0 auto;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.genre-list {
	display:inline-block;
    width: 100%;
}

.minwidth { white-space: nowrap; }